In [1]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

In [2]:
print(bicycles[0])

trek

In [3]:
print(bicycles[0].title())

Trek

In [4]:
print(bicycles[1])
print(bicycles[3])

cannondale
specialized

In [5]:
print(bicycles[-1])

specialized

In [7]:
message = f"My first bicyle was a {bicycles[0].title()}."
print(message)

My first bicyle was a Trek.

In [9]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [10]:
motorcycles[0] = 'ducati'
print(motorcycles)

['ducati', 'yamaha', 'suzuki']

In [11]:
motorcycles[0] = 'honda'

In [12]:
motorcycles.append('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']

In [13]:
motorcycles =[]

In [14]:
motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki')

In [15]:
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [16]:
motorcycles.insert(0, 'ducati')
print(motorcycles)

['ducati', 'honda', 'yamaha', 'suzuki']

In [17]:
del motorcycles[0]
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [18]:
motorcycles =['honda', 'yamaha', 'suzuki']
del motorcycles[1]
print(motorcycles)

['honda', 'suzuki']

In [24]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [25]:
popped_motorcycle = motorcycles.pop()
print(motorcycles)
print(popped_motorcycle)

['honda', 'yamaha']
suzuki

In [26]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']

In [27]:
motorcycles.remove('ducati')

In [28]:
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [32]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']

In [33]:
too_expensive = 'ducati'
motorcycles.remove(too_expensive)
print(motorcycles)
print(f"\n A {too_expensive.title()} is too expensive for me.")

['honda', 'yamaha', 'suzuki']

 A Ducati is too expensive for me.

In [34]:
#remove method only deletes the first occurrence of the value you specify

In [35]:
#organizing a list
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [36]:
cars.sort(reverse=True)
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

In [37]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print("Here is the original list:")
print(cars)
print("\n Here is the sorted list:")
print(sorted(cars))
print("\n Here is the original list again:")
print(cars)

Here is the original list:
['bmw', 'audi', 'toyota', 'subaru']

 Here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']

 Here is the original list again:
['bmw', 'audi', 'toyota', 'subaru']

In [38]:
print(cars)

cars.reverse()

print(cars)

['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']

In [39]:
#looping through lists

In [40]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(magician)

alice
david
carolina

In [42]:
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!

In [45]:
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    print(f"I can't wait to see your next trick, {magician.title()}.\n")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

In [46]:
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    print(f"I can't wait to see your next trick, {magician.title()}.\n")
    
print("Thank you, everyone. That was a great magic show!")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you, everyone. That was a great magic show!

In [47]:
#making numerical lists

for value in range(1,5):
    print(value)

1
2
3
4

In [48]:
numbers = list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

In [49]:
even_numbers = list(range(2, 11, 2))
print(even_numbers)

[2, 4, 6, 8, 10]

In [50]:
squares = []
for value in range(1,11):
    square = value**2
    squares.append(square)
    
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [51]:
squares = []
for value in range(1,11):
    squares.append(value**2)
    
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [52]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [53]:
min(digits)

0

In [54]:
max(digits)

9

In [55]:
sum(digits)

45

In [57]:
squares = [value**2 for value in range(1,12)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [58]:
for value in range(1,21):
    print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [67]:
big_number_list = range(1,10**6+1)

In [60]:
sum(big_number_list)

500000500000

In [61]:
min(big_number_list)

1

In [62]:
max(big_number_list)

1000000

In [63]:
odd_numbers = list(range(1, 21, 2))
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [64]:
threes = list(range(3, 31, 3))
print(threes)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [65]:
for value in range(1,11):
    print(value**3)

1
8
27
64
125
216
343
512
729
1000

In [66]:
cubes =[value**3 for value in range(1,11)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [68]:
#slicing a list
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[0:3])

['charles', 'martina', 'michael']

In [69]:
print(players[1:4])

['martina', 'michael', 'florence']

In [70]:
print(players[0:4])

['charles', 'martina', 'michael', 'florence']